
.BodyContainer {
    overflow-y: scroll;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #dbdada;
}
