.chatContainer {
    position: relative;
    height: 78%;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 1rem;
    gap: 0.6rem;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #dbdada;
}

.messageList {
    position: relative;
    bottom: 1rem;
    top: 1rem;
    align-content: center;
    display: flex;
    flex-direction:column;
    gap: 0.6rem;
    margin-left: 17%;
    margin-right: 17%;
    
}

