.contentArea {
    position: relative;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    opacity: 1;
    flex-direction: column;
    transition: all .5s ease;
    background: linear-gradient(45deg, #ffffff 0%, #6dc1b4 100%);
   
}

.startMessagingAlert {
    position: relative;
    align-self: center;
    background-color: #ffffff;
    border-radius: 1rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    text-align: center;
    display: flex;    
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}


/*

 background: url("../assets/kaspa-icon-grren-white.svg");
    background-repeat: no-repeat;
    background-size: 800px;
    opacity: 0.4;
*/
