.receivedMessage, .sentMessage {
    border-radius: 1rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
    display: flex;
    gap: 1rem;
    position: relative;
}
.receivedMessage {
    background-color: #ffffff;
}
.sentMessage {
    align-self: flex-end;
    align-items: flex-end;
    background-color: #eeeeee;
}
.receivedMessage::before, .sentMessage::before {
    content: "";
    position: absolute;
    top: 0;
    border: 1rem solid transparent;
}
.receivedMessage::before {
    left: -1rem;
    border-top: 1rem solid #ffffff;
}
.sentMessage::before {
    right: -1rem;
    border-top: 1rem solid #eeeeee;
}
.messageText {
    display: block;
    font-size: 1rem;
    max-width: 200px;
    overflow-wrap: break-word;
}
.messageTime {
    font-size: 0.7rem;
    color: #707579;
    align-self: flex-end;
    margin-bottom: -0.35rem;
    margin-right: -0.3rem;
}