.messageBox {
    position:fixed;
    bottom:3rem;
    display: flex;
    align-self: center;
    align-items: center;
    gap: 2rem;
    height: fit-content;
}

.emojiButton {
    width: 5rem;
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.emojiButtonIcon {
    color: #707579;
    opacity: .7;
}

.messageContent {
    position: relative;
    background-color: #ffffff;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: fit-content;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
    min-width: 30rem;
}

.messageInput {
    height: 2rem;
    font-size: 1.2rem;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: none;
    font-family: system-ui;
    overflow-wrap: break-word;
    resize: none;
    overflow: hidden;
}

.messageInput::placeholder {
    font-weight: 500;
    color: #707579;
}

.sendButton {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border-color: transparent;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
    background-color: #6dc1b4;
    color: #ffffff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.sendButton:active {
    transform: scale(0.85);
    background-color: #4e867e;
  }
 
.isSendingMessageIconVisible {    
    height: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707579;
    opacity: .7;
}

.isSendingMessageIconHidden {
    /* Initial visibility hidden for spinner */
    visibility: hidden;
}

/* CSS for spinner rotation */
.spinnerRotating {
    animation: spin 3s linear infinite;
}

/* Keyframes for rotation animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sendButtonIcon {
    width: 40%;
    height: 40%;
}

button:disabled{
    background-color: #cccccc;
    color: #a5a5a5;
    cursor: not-allowed;
}
