
.ChatBox {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-height: 4rem;
    cursor: pointer;
    transition: all .3s ease;
}

.ChatBox:hover {
    background-color: hsl(207, 100%, 31%, 0.08);
}

.ChatBoxSelected {
    background-color: hsl(170, 44%, 61%, 0.60);
}

.ChatImage {
    width: 2rem;
    height: 2rem;
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ChatImageImg {
    border-radius: 50%;
    max-width: 100%;
    object-fit: cover;
}

.ChatDetails {
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.ChatTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ChatTitle h3 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.ChatTitle span {
    color: #707579;
    font-size: 0.8rem;
}

.ChatMessage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
background: linear-gradient(90deg, #ffffff 0%, #6fc7b9 100%);
background-color: hsl(170, 44%, 61%, 0.70);
*/